<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>Company Name:<%=single_company.companyname %></h1>

    <h3><%= single_company.description %></h3>
   <img src="<%=single_company.logo%>" alt="LOGO">
    

    

<a href="updateCompany/<%=single_company.company_id%>">Company is hiring</a>
</body>
</html>








